/************/
/*Login*/
/**********/

body.login{
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: transparent;
    background: #212121;
	background-position: -moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

.login #backtoblog {
    font-size: 14px;
    font-weight: 500;
    margin: 12px 0 11px;
    padding: 0 23px;
    text-align: center;
}

#backtoblog {
    display: block !important;
}

.login #backtoblog a {
    color: #fff;
}

.login #backtoblog a:hover {
   color: #fff;
}

.login #backtoblog a:active {
   color: #fff;
}

.login #backtoblog a, .login #nav a {
     font-size: 14px;
    color: #fff !important;
    padding: 0 23px;
    text-align: center;
    margin: 12px 0 11px 0;
    font-weight: 500;
}

.login.wp-core-ui .button-primary{ 
    height: 34px;
    line-height: 28px;
    border-radius : 0px;
    padding: 0 12px 2px;
    border-color: transparent;
}

.login h1 a {
    background-image: url('images/logo.png'); 
    background-size: 300px 287px;
    width: 300px;
    height: 287px;
    background-color: transparent;
    min-height: 287px;
}

#login {
    top: 50%;
    position: relative;
    max-width: 391px;
    width:100%;
    padding: 0px 0 0;
    margin: auto;
    margin-top: -265px;
}

.login form {
    margin-top: 0px;
    margin-left: 0;
    padding: 23px;
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.login #nav {
    font-size: 14px;
    padding: 0 23px;
    text-align: center;
    margin: 23px 0 0 0;
    font-weight: 500;
}

.login #backtoblog{
    font-size: 14px;
    color: #fff !important;
    padding: 0 23px;
    text-align: center;
    margin: 12px 0 11px 0;
    font-weight: 500;
}

.login h1 a {
    height: 92px;
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    margin: 0px auto 0px auto;
    padding: 0;
    text-decoration: none;
    max-width: 391px;
    width: 100%;
}

.login label {
    color: #fff;
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
}

.login form .input, .login input[type=text] {
    color: #000;
    font-size: 19px;
    width: 100%;
    padding: 9px;
    line-height: 23px;
    margin: 5px 0 18px 0;
    background-color: #ffffff !important;
}

.login form .input, .login form input[type=checkbox], .login input[type=text] {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    /* text-shadow: 1px 1px 1px rgba(200,200,200,.1); */
    font-weight: 500;
}

.login form .forgetmenot label {
    font-size: 14px;
    line-height: 23px;
    display: inline-block;
}

.login form .forgetmenot{
    width:100%;
    display:block;
    margin: 12px 0 11px 0!important;
}

#login form p.submit {
    margin: 23px 0 0 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.login.wp-core-ui .button-primary{
    width: 100%;
    height:46px;
    line-height: 28px;
    padding: 2px 12px 2px 12px;
    font-size: 19px;
    background-color:#c72026 !important;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.login .button-primary:hover {
   background-color:#000000 !important;
   color: #ffffff;
   border: 0px solid #96C12F;
}

.login .button-primary:active {
   background-color:#000000 !important;
   color: #ffffff;
   border: 0px solid #96C12F;
}

.login #login_error, .login .message {
    width: 300px;
    text-align: center;
    border-left: 0px solid transparent;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

#login_error, .login .message {
    margin: 23px 23px 0px 23px;
    padding: 12px 23px 11px 23px;
}

.login #backtoblog a, .login #nav a, .login h1 a {
    color: #FFF;
}

@media screen and ( max-height: 600px ){
body{
    height:130%;
}
    #login {
        top:50%;
    }
}


@media screen and ( max-height: 480px ){
body{
    height:150%;
}
    #login {
        top:50%;
    }
}


/************/
/*Dashboard*/
/**********/

#welcome-panel {
	border: 0 none;
	border-bottom: 1px solid #eeecec;
	// border-bottom: 1px solid rgba(0,0,0,.06);
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 20px 0 30px 0;
	padding: 20px 0 20px 0;
}
.welcome-panel-content {
	margin: 0;
}
.welcome-panel-content h3 {
	color: #2ea2cc;
	font-size: 20px;
	font-weight: 600;
}
.welcome-panel-content h4 {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}
#postbox-container-1 {
	/*margin: 0 40px 0 0;*/
}
#wpbody-content #dashboard-widgets .postbox-container {
	margin: 0 2% 0 0;
	width: 23%;
}
#wpbody-content #dashboard-widgets #postbox-container-4 {
	margin: 0;
	width: 25%;
}
@media only screen and (max-width: 1499px) and (min-width: 800px) {
	#wpbody-content #dashboard-widgets .postbox-container {
		margin: 0 5% 0 0;
		width: 47.5%;
	}

	#wpbody-content #dashboard-widgets #postbox-container-2,
	#wpbody-content #dashboard-widgets #postbox-container-3,
	#wpbody-content #dashboard-widgets #postbox-container-4 {
		float: right;
		margin: 0;
		width: 47.5%;
	}
	#wpbody-content #dashboard-widgets #postbox-container-3 {
		float: left;
	}
}
@media only screen and (max-width: 1800px) and (min-width: 1500px) {
	#wpbody-content #dashboard-widgets .postbox-container,
	#wpbody-content #dashboard-widgets #postbox-container-4 {
		margin: 0 3.3333% 0 0;
		width: 30%;
	}
	#wpbody-content #dashboard-widgets #postbox-container-3 {
		margin: 0;
	}
}
@media only screen and (max-width: 799px) {
	#wpbody-content #dashboard-widgets .postbox-container,
	#wpbody-content #dashboard-widgets #postbox-container-4 {
		width: 100%;
	}
}
#dashboard-widgets .meta-box-sortables {
	margin: 0;
}
#dashboard-widgets-wrap {
	margin: 0;
}
#dashboard-widgets-wrap .postbox {
	margin-bottom: 40px;
}
#dashboard-widgets-wrap h3 {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	padding: 12px 12px;
}
#dashboard-widgets-wrap #normal-sortables .postbox,
#dashboard-widgets-wrap #side-sortables .postbox,
#dashboard-widgets-wrap #column3-sortables .postbox, 
#dashboard-widgets-wrap #column4-sortables .postbox, 
#dashboard-widgets-wrap #column5-sortables .postbox {
	background: #F3F3F3;
	border: 0 none;
	border-radius: 2px;
	padding: 5px 10px 10px 10px;
}
#dashboard_right_now .main p {
	margin: 10px 0 0 0;
}
#dashboard-widgets-wrap .postbox .handlediv {
	width: 23px;
}

/***********/
/*Content*/
/***********/

#wpbody {
	padding-top: 50px;

	.folded & {
		padding-top: 36px;
	}

	@media screen and (max-width: 960px) {
		padding-top: 36px;
	}
	@media screen and (max-width: 782px) {
		padding-top: 46px;

		.wp-responsive-open & {
			right: -210px;
		}
	}
}

/***********/
/*Admin Menus*/
/***********/

html.wp-toolbar {
	background: #fff;
	background: none;
	padding-top: 0;
}

#adminmenu,
#adminmenuback,
#adminmenuwrap,
#adminmenu .wp-submenu {
    
    width: 160px;
    z-index: 9999;
	
	.wp-responsive-open & {
		width: 200px;
	}
}

// Override WP 4.1 sticky admin menu
#adminmenuwrap {
	bottom: auto !important;
	position: relative !important;
	top: 0 !important;

	.sticky-menu & {
		position: fixed !important;
	}

	.wp-responsive-open & {
		position: absolute !important;
	}
}

#adminmenu .wp-submenu
{
    left: 160px
}

#adminmenu div.wp-menu-name
{
    font-weight: 300;
    font-size: 17px;
}

// Update Notices
#adminmenu .awaiting-mod, 
#adminmenu .update-plugins, 
#sidemenu li a span.update-plugins {
	background-color: #ff0000;
	color: #fff;
}

#adminmenu div.wp-menu-image {
	float: right;
	margin: 0 -0px;
}

.folded #adminmenu div.wp-menu-image {
	float: none;
	margin: 0;
}
.auto-fold #adminmenu div.wp-menu-image {
	@media only screen and (max-width: 960px) {
		float: right;
		margin: 0;
	}
	@media screen and (max-width: 782px) {
		float: right;
		margin: 0 11px;
		position: relative;
	}
}
.auto-fold #adminmenu a.menu-top {
	@media screen and (max-width: 782px) {
		height: auto;
		padding: 0;
	}
}
#adminmenu div.wp-menu-name {
	font-size: 16px;
	padding: 8px 20px;
        margin-left: -10px;
        

	.auto-fold & {
		@media screen and (max-width: 782px) {
			font-size: 16px;
			margin-left: 0;
			padding: 8px 20px;
		}
	}
}

#adminmenu .wp-has-current-submenu ul > li > a,
.folded #adminmenu li.menu-top .wp-submenu > li > a {
	font-size: 14px;
	padding: 4px 21px;
}
@media only screen and (max-width: 960px) {
	.folded #adminmenu li.menu-top .wp-submenu > li > a,
	.auto-fold #adminmenu li.menu-top .wp-submenu > li > a,
	#adminmenu li.menu-top .wp-submenu > li > a {
		font-size: 14px;
		padding: 4px 21px;
	}
}

#adminmenu li.wp-menu-separator {
	border-top: 1px solid rgba(0,0,0,.2);
	height: 1px;
	margin: 14px auto 15px auto;

	.folded & {
		margin: 8px auto 9px auto;
	}
	@media only screen and (max-width: 960px) {
		.auto-fold & {
			margin: 8px auto 9px auto;
		}
	}
}

#adminmenu #collapse-menu {
	border-top: 1px solid rgba(0,0,0,.2);
	margin: 14px auto 15px auto;
	padding: 12px 20px 12px 9px;
	transition-property: color;
}
.folded #adminmenu #collapse-menu {
	padding: 12px 20px 12px 0;
}
@media only screen and (max-width: 960px) {
	.auto-fold #adminmenu #collapse-menu {
		padding: 12px 20px 12px 0;
	}
}

/***********/
/*Admin Bar*/
/***********/

#wpadminbar {
	height: 30px;
	left: 150px;
	padding: 10px 20px;
	right: 0;
	width: auto;
	z-index: 9998;
	}
	
	@media screen and (max-width: 960px) {
	#wpadminbar {
		height: 30px;
	}
}
@media screen and (max-width: 782px) {
	#wpadminbar {
		padding: 0;
	}
}
.folded #wpadminbar {
	height: 30px;
	left: 36px;
}
@media only screen and (max-width: 960px) {
	#wpcontent #wpadminbar {
		left: 200px;
	}
	.auto-fold #wpcontent #wpadminbar {
		left: 36px;
	}
}
@media screen and (max-width: 782px) {
	.folded #wpadminbar {
		height: 46px;
		left: 0;
	}
	.auto-fold #wpcontent #wpadminbar {
		left: 0;
	}
}
#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
	padding: 6px 0;
}
#wpadminbar .ab-submenu {
	padding: 0;

	li {
		padding: 0 0;
	}
}

// WordPress 4.1 Distraction Free Mode
.focus-on #wpadminbar {
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.focus-off #wpadminbar {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.focus-on #post-body-content > h1 {
	opacity: 0;
	transition: opacity .6s ease-in-out;
}
.focus-off #post-body-content > h1 {
	opacity: 1;
	transition: opacity .6s ease-in-out;
}

#wp-admin-bar-wp-logo
{
    display: none
}

.folded #wpcontent #wp-admin-bar-root-default > li > a,
.folded #wpcontent #wp-admin-bar-top-secondary > li > a,
.folded #wpcontent #wpadminbar #wp-admin-bar-wp-logo>.ab-item {
	padding: 2px 7px 2px 7px;
}
@media screen and (max-width: 960px) {
	#wpcontent #wp-admin-bar-root-default > li > a,
	#wpcontent #wp-admin-bar-top-secondary > li > a,
	#wpcontent #wpadminbar #wp-admin-bar-wp-logo>.ab-item {
		padding: 2px 7px 2px 7px;
	}
}
@media screen and (max-width: 782px) {
	#wpcontent #wp-admin-bar-root-default > li > a,
	#wpcontent #wp-admin-bar-top-secondary > li > a,
	#wpcontent #wpadminbar #wp-admin-bar-wp-logo>.ab-item,
	.folded #wpcontent #wp-admin-bar-root-default > li > a,
	.folded #wpcontent #wp-admin-bar-top-secondary > li > a,
	.folded #wpcontent #wpadminbar #wp-admin-bar-wp-logo>.ab-item {
		padding: 0;
	}
}

/***********/
/*Footer*/
/***********/

#wpfooter {
	background: #393939;
	color: #fff;
	margin-left: 150px;
}
#wpfooter a {
	color: #fff;
}
#wpfooter a:hover {
	color: #c72026;
        text-decoration: none;
}